@mixin centerDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexibleCenter($position, $top, $left, $minusLeft, $minusTop) {
  position: $position;
  top: $top;
  left: $left;
  transform: translate($minusLeft, $minusTop);
}

@mixin boxShadow {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@mixin inputShadow {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@mixin buttonDesign {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(64, 64, 64, 0.724) 0px 5px 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@mixin buttonHover {
  background-color: rgb(22, 231, 231);
  color: black;
}

$mainBlue: rgb(22, 231, 231);
