* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.nav-bar {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, #67d7e3 0px 2px 4px -1px;
}
.nav-bar__links-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.nav-bar__link {
  margin-right: 40px;
  cursor: pointer;
}
.nav-bar__link--bold {
  font-weight: 700;
}
.nav-bar__link:hover {
  color: #67d7e3;
  border-bottom: 1.5px solid #67d7e3;
  cursor: pointer;
}
.nav-bar__link__logOut {
  display: flex;
  line-height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, #67d7e3 0px 2px 4px -1px;
  padding: 5px 5px 2px 5px;
  background-color: transparent;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.nav-bar__link__logOut:hover {
  transform: scale(120%);
  background-color: #67d7e3;
}
.nav-bar__user-name {
  margin: 0 10px;
  padding: 5px;
  border-bottom: 3px solid #67d7e3;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    width: 99%;
    height: 90px;
    padding: 5px;
    font-size: 17px;
    letter-spacing: 0.5px;
  }
  .nav-bar__links-group {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(2, 40px);
    text-align: center;
  }
  .nav-bar__link {
    margin-right: 10px;
    font-size: 12px;
  }
  .nav-bar__link__employee-manager {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .nav-bar__link__shift-schedule {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .nav-bar__link__employees {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .nav-bar__link__reports {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .nav-bar__link__availability {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .nav-bar__link__my-shifts {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .nav-bar__user-name {
    margin-right: 0;
    font-size: 15px;
  }
  .nav-bar__link__logOut {
    position: absolute;
    top: 10px;
    right: 0;
  }
}
.running-clock {
  position: absolute;
  right: 30px;
  font-size: 20px;
  color: #67d7e3;
  text-shadow: 2px 2px 20px rgba(128, 128, 128, 0.492);
  font-weight: bolder;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.login__title {
  text-align: center;
  margin: 15px 0;
  font-size: 40px;
  cursor: default;
}
.login__error-message {
  text-align: center;
  color: red;
}
.login__inputs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login__email, .login__password {
  text-align: center;
  margin-bottom: 30px;
  width: 250px;
  background-color: #b9f5fb;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, #67d7e3 0px 2px 4px -1px;
}
.login__submit {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(64, 64, 64, 0.724) 0px 5px 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.login__submit:hover {
  background-color: #67d7e3;
  color: black;
  cursor: pointer;
}
.login__submit:hover a {
  color: black;
}
.login select {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, #67d7e3 0px 2px 4px -1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: default;
  background-color: #b9f5fb;
  color: black;
  cursor: pointer;
  border-radius: 3px;
}

@media screen and (max-width: 768px) {
  .login {
    width: 90%;
    height: 400px;
  }
  .login__email, .login__password {
    width: 230px;
  }
}
.shift {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;
}
.shift__title {
  font-size: 50px;
  margin: 50px;
  cursor: default;
}
.shift__title span {
  font-size: 40px;
  color: #67d7e3;
}
.shift__date {
  font-size: 30px;
  width: 200px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -32%);
  cursor: default;
}
.shift__startEndShift {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  border: 2px solid #67d7e3;
  height: 270px;
  width: 270px;
}
.shift__startEndShift__clock {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  cursor: default;
  font-size: 30px;
}
.shift__startEndShift__start, .shift__startEndShift__end {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  cursor: default;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 60px;
  color: #67d7e3;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.shift__startEndShift__start:hover, .shift__startEndShift__end:hover {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 70px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .shift {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    cursor: default;
  }
  .shift h2 {
    display: flex;
    flex-direction: column;
  }
  .shift__title {
    font-size: 25px;
    margin-top: 30px;
  }
  .shift__title span {
    font-size: 25px;
  }
  .shift__date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    font-size: 23px;
  }
  .shift__startEndShift {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 150px;
    width: 100%;
    border: none;
  }
  .shift__startEndShift__clock {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    cursor: default;
    font-size: 25px;
  }
  .shift__startEndShift__start, .shift__startEndShift__end {
    background-color: black;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(64, 64, 64, 0.724) 0px 5px 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
  }
  .shift__startEndShift__start:hover, .shift__startEndShift__end:hover {
    font-size: 20px;
    background-color: #67d7e3;
  }
}
.new-schedule-page-header {
  font-size: 50px;
  margin: 50px;
  cursor: default;
}

.new-schedule-form {
  margin: 50px;
  font-size: 40px;
  color: #5c5c5c;
  font-weight: 400;
}
.new-schedule-form__date {
  max-width: 100%;
  background-color: #c5ebef;
  border: none;
  border-radius: 13px 13px 13px 0;
  text-align: center;
  height: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-right: 20px;
  color: #5c5c5c;
  cursor: auto;
}
.new-schedule-form__input {
  width: 100px;
  background-color: #c5ebef;
  border: none;
  border-radius: 13px 13px 13px 0;
  text-align: center;
  width: 50px;
  height: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-right: 20px;
  color: #5c5c5c;
  margin-bottom: 40px;
}
.new-schedule-form__header {
  font-weight: 600;
  margin-top: 20px;
}
.new-schedule-form__submit-btn {
  display: block;
  background-color: #c5ebef;
  border: none;
  border-radius: 13px 13px 13px 0;
  text-align: center;
  text-overflow: none;
  height: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  color: #5c5c5c;
  padding-right: 35px;
  padding-left: 35px;
  cursor: pointer;
  background-color: #679ca1;
  color: white;
}

.new-schedule-creation-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  padding: 0 10px;
  margin-top: 15px;
  margin: 50px;
}

.employees-panel {
  width: 20vw;
  margin-right: 10px;
  border-radius: 13px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  font-size: 42px;
  line-height: 1.8rem;
  font-weight: 400;
  padding-left: 35px;
}
.employees-panel__week-display {
  margin-bottom: 40px;
}
.employees-panel__week-display__text {
  font-size: 24px;
  line-height: 3rem;
  font-weight: bold;
  padding-bottom: 5px;
}
.employees-panel__employees-list-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.employees-panel__employee-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 90%;
  color: #679CA1;
}
.employees-panel__employee-box__employee-name {
  font-size: 20px;
  font-weight: bold;
  display: inline-flex;
}
.employees-panel__employee-box:hover {
  padding-right: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 13px;
  background-color: #679CA1;
  color: #fff;
}

.shifts-panel {
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  table-layout: fixed;
  width: 100%;
  height: auto;
  border-collapse: separate;
  border-spacing: 8px 15px;
}
.shifts-panel td {
  text-align: center;
  min-height: 35px;
}
.shifts-panel__day-box {
  padding-bottom: 10px;
  text-align: center;
}
.shifts-panel__day-box__day {
  font-size: 24px;
  font-weight: bold;
}
.shifts-panel__day-box__date {
  font-size: 20px;
}
.shifts-panel__manager-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shifts-panel__role-row {
  height: 35px;
  margin: 5px;
}
.shifts-panel__role-row__role {
  color: #679CA1;
  font-size: 20px;
  font-weight: bold;
}
.shifts-panel__role-row__employee-box {
  height: 45px;
  border: 3px solid #C5EBEF;
  border-radius: 13px 13px 13px 0;
  padding: 5px;
  margin-bottom: 30px;
}
.shifts-panel__role-row__employee-box--marked {
  background-color: #C5EBEF;
  color: white;
}
.shifts-panel__role-row__plus {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.shifts-panel__role-row__allocation-name {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.comments-panel {
  margin: 50px;
  max-width: 790px;
  height: 58px;
  border-radius: 13px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.comments-panel__visible {
  border: 3px solid #c5ebef;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.comments-panel__name {
  margin: 0 30px 0 40px;
  color: #679CA1;
  font-size: 20px;
  font-weight: bolder;
}
.comments-panel__comment {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.my-shift-page-header {
  font-size: 50px;
  margin: 50px;
  cursor: default;
}

.my-shift-page {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  text-align: center;
  letter-spacing: 1px;
}

.shift-table {
  width: 100%;
}
.shifts-panel {
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  table-layout: fixed;
  width: 100%;
  height: auto;
  border-collapse: separate;
  border-spacing: 8px 15px;
}
.shifts-panel td {
  text-align: center;
  min-height: 35px;
}
.shifts-panel__day-box {
  padding-bottom: 10px;
  text-align: center;
}
.shifts-panel__day-box__day {
  font-size: 24px;
  font-weight: bold;
}
.shifts-panel__day-box__date {
  font-size: 20px;
}
.shifts-panel__manager-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shifts-panel__role-row {
  height: 35px;
  margin: 5px;
}
.shifts-panel__role-row__role {
  color: #679CA1;
  font-size: 20px;
  font-weight: bold;
}
.shifts-panel__role-row__employee-box {
  height: 45px;
  border: 3px solid #C5EBEF;
  border-radius: 13px 13px 13px 0;
  padding: 5px;
  margin-bottom: 30px;
}
.shifts-panel__role-row__employee-box--marked {
  background-color: #C5EBEF;
  color: white;
}
.shifts-panel__role-row__plus {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.shifts-panel__role-row__allocation-name {
  font-size: 20px;
  font-weight: bold;
  color: black;
}/*# sourceMappingURL=style.css.map */