@import "./styles/variety";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

// Navbar -
.nav-bar {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;

  &__links-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__link {
    margin-right: 40px;
    cursor: pointer;

    &--bold {
      font-weight: 700;
    }

    &:hover {
      color: $mainBlue;
      cursor: pointer;
    }
  }

  &__user-name {
    margin-right: 25px;
  }
}

@media screen and (max-width: 750px) {
  .nav-bar {
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 17px;
    letter-spacing: 0.5px;

    &__links-group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 50px);
      text-align: center;
    }

    &__link {
      margin-right: 15px;
      font-size: 12px;
    }

    &__link__employee-manager {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &__link__shift-schedule {
      grid-column-start: 1;
      grid-column-end: 2;

      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__link__availability {
      grid-column-start: 2;
      grid-column-end: 3;

      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__link__employees {
      grid-column-start: 3;
      grid-column-end: 4;

      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__link__reports {
      grid-column-start: 4;
      grid-column-end: 5;

      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__user-name {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}
//

// Login page -
.login {
  @include centerDiv;
  width: 350px;
  height: 400px;
  @include boxShadow;

  &__title {
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
    cursor: default;
  }

  &__inputs {
    @include centerDiv;
  }

  &__email,
  &__password {
    text-align: center;
    margin-bottom: 30px;
    width: 250px;
    @include inputShadow;
  }

  &__submit {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    @include buttonDesign;
  }

  &__submit:hover {
    @include buttonHover;

    a {
      color: black;
    }
  }

  select {
    @include inputShadow;
    @include flexibleCenter(absolute, 100%, 50%, -50%, 0);
    background: $mainBlue;
    color: black;
    cursor: pointer;
    border-radius: 3px;
  }
}

@media screen and (max-width: 750px) {
  .login {
    width: 90%;
    height: 400px;

    &__email,
    &__password {
      width: 230px;
    }
  }
}
//

// Start / end shift page -
.shift {
  @include boxShadow;
  @include centerDiv;
  width: 70%;
  height: 70%;
  text-align: center;
  letter-spacing: 1px;
  cursor: default;

  &__title {
    @include headerCenter;

    span {
      font-size: 40px;
      color: $mainBlue;
      text-shadow: 2px 2px 15px white;
    }
  }

  &__date {
    font-size: 30px;
    width: 200px;
    @include flexibleCenter(absolute, 38%, 50%, -50%, -38%);
    @include inputShadow;
  }

  &__startEndShift__clock {
    @include flexibleCenter(absolute, 65%, 50%, -50%, -65%);
    font-size: 30px;
  }

  &__startEndShift__start,
  &__startEndShift__end {
    @include flexibleCenter(absolute, 85%, 50%, -50%, -85%);
    @include buttonDesign;
    font-size: 25px;
  }

  &__startEndShift__start:hover,
  &__startEndShift__end:hover {
    @include buttonHover;
  }
}

@media screen and (max-width: 768px) {
  .shift {
    @include flexibleCenter(absolute, 70%, 50%, -50%, -70%);

    h2 {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 25px;
      margin-top: 30px;

      span {
        font-size: 25px;
      }
    }

    &__date {
      @include flexibleCenter(absolute, 40%, 50%, -50%, -40%);
      font-size: 25px;
    }

    &__startEndShift__start,
    &__startEndShift__end {
      font-size: 20px;
      padding: 5px;
    }
  }
}
//

// Shifts scheduling page
.main-sections-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  padding: 0 10px;
  margin-top: 15px;
}

.employees-panel {
  background-color: lightgray;
  margin-right: 10px;

  &__week-displayer {
    background-color: rgb(185, 170, 170);
  }

  &__search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__image {
      margin-top: 5px;
      width: 28px;
      padding: 2px;
    }
  }

  &__employees-list-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__employee-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    &__markings-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__allocations-count {
      padding-right: 15px;
    }

    &__availability-img {
      width: 20px;
    }

    &:hover {
      //border: 1px solid rgb(72, 72, 72);

      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
  }
}

.shifts-panel {
  background-color: lightgray;
  width: 100%;

  &__days-header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    gap: 110px;
  }

  &__day-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    &__day {
      text-align: center;
    }

    &__date {
      text-align: center;
    }
  }

  &__manager-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__role-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//

// Employees page -
.employees-page {
  position: relative;
  height: 900px;

  border: 3px solid green;

  &__main-header {
    @include headerCenter;
  }

  .open-add-btn {
    position: absolute;
    left: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    padding-bottom: 4px;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(64, 64, 64, 0.724) 0px 5px 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      @include buttonHover;
    }
  }

  .add-buttons-container {
    display: none;
    position: relative;
    margin-top: 20px;
  }

  .add-employees-btn,
  .add-managers-btn {
    @include buttonDesign;
    width: 170px;
    position: absolute;
    top: 10px;
    left: 80px;
  }

  .add-employees-btn {
    top: 50px;
  }

  .add-employees-btn:hover,
  .add-managers-btn:hover {
    @include buttonHover;
  }

  &__chart {
    width: 90%;
    @include flexibleCenter(absolute, 30%, 50%, -50%, -30%);

    th {
      width: 250px;
      @include inputShadow;
    }
  }

  &__get-all-employees {
    width: 90%;
    height: 50%;
    overflow-y: scroll;
    @include flexibleCenter(absolute, 65%, 50%, -50%, -65%);
  }

  &__get-all-employees::-webkit-scrollbar {
    display: none;
  }

  &__employeeCard {
    width: 100%;
    display: flex;
    flex-direction: column;

    .employee-details {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      box-shadow: 0px 15px 10px -15px #80808098;

      .employee-name,
      .employee-birthday,
      .employee-email,
      .employee-phone,
      .employee-role {
        text-align: center;
        width: 250px;
        letter-spacing: 0.5px;

        // border: 1px solid green;
      }

      .employee-email {
        overflow-x: scroll;
      }

      .employee-email::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__add-new-employees,
  &__add-new-managers {
    @include flexibleCenter(fixed, 50%, 50%, -50%, -50%);
    display: flex;

    fieldset {
      width: 400px;
      background-color: $mainBlue;
      text-align: center;
      @include boxShadow;

      legend {
        text-align: center;
        font-size: 30px;
      }

      input,
      select {
        width: 60%;
        margin: 10px auto;
        text-align: center;
        @include inputShadow;
      }

      button {
        display: block;
        margin: 20px auto 20px;
        @include buttonDesign;

        &:hover {
          @include buttonHover;
        }
      }
    }
  }
}
