@import "./styles/variety";
@import "./common/_nav-bar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

// Login page -
.login {
  @include centerDiv;
  width: 400px;
  height: 400px;
  @include boxShadow;

  &__title {
    text-align: center;
    margin: 15px 0;
    font-size: 40px;
    cursor: default;
  }

  &__inputs {
    @include centerDiv;
  }

  &__email,
  &__password {
    text-align: center;
    margin-bottom: 20px;
    width: 250px;
    @include inputShadow;
  }

  &__submit {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    padding: 5px 20px;
    @include buttonDesign;

    a {
      font-size: 20px;
      text-decoration: none;
      color: white;
    }
  }

  &__submit:hover {
    @include buttonHover;

    a {
      color: black;
    }
  }
}
//

// Start / end shift page -
.shift {
  border: 2px solid black;

  @include centerDiv;
  width: 70%;
  height: 70%;
  text-align: center;

  &__title {
    font-size: 30px;
  }

  &__date {
    border: 2px solid black;
    width: 200px;
    height: 100px;
    @include flexibleCenter(absolute, 20%, 50%, -50%, -20%);
  }

  &__form__start,
  &__form__end {
    margin-top: 150px;
  }
}
