* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.salaryReports {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.salaryReports__between__input {
  width: 350px;
}

.employeeReports__byEmployee__List {
  width: 300px;
}

.reports-page__header {
  font-size: 50px;
  margin: 50px;
  cursor: default;
}

.employeesSalaryReportSection {
  position: relative;
  display: inline;
  cursor: default;
}
.employeesSalaryReportSection .salaryReportTable {
  margin-top: 30px;
  display: inline;
}
.employeesSalaryReportSection .salaryReportTable tr {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.employeesSalaryReportSection .salaryReportTable tr th {
  display: flex;
  justify-content: end;
  width: 200px;
  padding: 10px;
  color: #67d7e3;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.employeesSalaryReportSection .employeeDetails {
  margin-top: 30px;
  display: inline-block;
  width: 200px;
}
.employeesSalaryReportSection .reportCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.employeesSalaryReportSection .reportCard__report-details__name, .employeesSalaryReportSection .reportCard__report-details__birthday, .employeesSalaryReportSection .reportCard__report-details__email, .employeesSalaryReportSection .reportCard__report-details__phone, .employeesSalaryReportSection .reportCard__report-details__salary, .employeesSalaryReportSection .reportCard__report-details__role {
  display: flex;
  width: 100%;
  padding: 10px;
  overflow: scroll;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.employeesSalaryReportSection .reportCard__report-details__name::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__birthday::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__email::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__phone::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__salary::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__role::-webkit-scrollbar {
  display: none;
}

.attendanceReport {
  margin-top: -300px;
  margin-left: 80%;
  transform: translate(-80%);
  width: 550px;
  text-align: center;
  margin-bottom: 50px;
  cursor: default;
}
.attendanceReport tr {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 550px;
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.attendanceReport th {
  display: flex;
  justify-content: center;
  text-align: center;
}
.attendanceReport__date, .attendanceReport__duration {
  font-size: 25px;
  color: #67d7e3;
}

@media screen and (max-width: 768px) {
  .reports-page__header {
    text-align: center;
  }
  .employeesSalaryReportSection .salaryReportTable {
    margin-top: 20px;
  }
  .employeesSalaryReportSection .salaryReportTable tr th {
    width: 120px;
    padding: 10px 5px;
    font-size: 15px;
  }
  .employeesSalaryReportSection .employeeDetails {
    margin-top: 20px;
    width: 170px;
  }
  .employeesSalaryReportSection .reportCard__report-details__name, .employeesSalaryReportSection .reportCard__report-details__birthday, .employeesSalaryReportSection .reportCard__report-details__email, .employeesSalaryReportSection .reportCard__report-details__phone, .employeesSalaryReportSection .reportCard__report-details__salary, .employeesSalaryReportSection .reportCard__report-details__role {
    font-size: 15px;
    padding: 10px 5px;
  }
  .attendanceReport {
    width: 290px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    cursor: default;
  }
  .attendanceReport tr {
    width: 290px;
    padding: 10px 5px;
  }
  .attendanceReport__date, .attendanceReport__duration {
    font-size: 20px;
  }
}/*# sourceMappingURL=reports.css.map */