@import "../../styles/variety";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.reports-page__header {
  @include headerCenter;
}

// Employee reports -
.employeesSalaryReportSection {
  position: relative;
  width: 100%;
  margin-top: 50px;

  .salaryReportTable {
    position: relative;
    width: 95%;
    margin: 0 auto;

    th {
      width: 100px;
    }
  }

  .employeeDetails,
  .managerDetails {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 95%;
  }

  .reportCard {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    border-bottom: 1px solid $mainBlue;

    &__report-details {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      &__name,
      &__birthday,
      &__email,
      &__phone,
      &__salary,
      &__role {
        text-align: center;
        width: 100%;
        padding: 5px;
        letter-spacing: 0.5px;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

// Attendance section -
.attendanceReport {
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid $mainBlue;

  th {
    width: 250px;
    letter-spacing: 5px;
    text-align: center;
  }
}

.employeeAttendance {
  margin-bottom: 50px;
}

.reportsPageDates {
  position: relative;
  width: 500px;
  margin: 0 auto;

  &__details {
    position: relative;
    width: 100%;
    display: flex;
    border-bottom: 1px solid $mainBlue;
  }

  &__details__date,
  &__details__clock {
    width: 250px;
    text-align: center;
  }
}

// buttons -
.reportButtons {
  position: absolute;
  top: 130px;
  right: 10px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;

  &__salary,
  &__manager,
  &__employee {
    @include buttonDesign;
  }

  &__salary:hover,
  &__manager:hover,
  &__employee:hover {
    @include buttonHover;
  }
}

.salaryReports,
.employeeReports,
.managerReports {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
  text-align: center;

  input {
    @include inputShadowBlue;
    padding: 5px;
    width: 150px;
  }

  button {
    @include buttonDesign;

    &:hover {
      @include buttonHover;
    }
  }
}

.employeeReports,
.managerReports {
  &__byEmployee {
    &__List {
      margin-top: 5px;
      @include inputShadowBlue;
    }

    &__submit {
      margin-top: 10px;
    }
  }

  &__byManager {
    &__List {
      margin-top: 5px;
      @include inputShadowBlue;
    }

    &__submit {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .reports-page__header {
    @include responsiveHeader;
  }

  // Employee reports -
  .employeesSalaryReportSection {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(202, 202, 202);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $mainBlue;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgb(7, 196, 196);
    }

    .salaryReportTable {
      width: 900px;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      th {
        font-size: 15px;
      }
    }

    .employeeDetails,
    .managerDetails {
      width: 900px;
    }
  }

  // Attendance section -
  .attendanceReport {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 10px;

    th {
      letter-spacing: 5px;
      font-size: 15px;
    }

    &__date {
      width: 190px;
    }

    &__duration {
      width: 100px;
    }
  }

  .reportsPageDates {
    width: 300px;
    font-size: 13px;

    &__details {
      font-size: 13px;
    }

    &__details__date,
    &__details__clock {
      width: 190px;
      padding: 5px 0;
      font-size: 13px;
    }

    &__details__clock {
      width: 100px;
    }
  }

  // buttons -
  .reportButtons {
    position: relative;
    top: 0;
    right: 0;
    width: 80%;
    display: flex;
    flex-direction: column;

    &__salary,
    &__manager,
    &__employee {
      font-size: 15px;
      margin: 5px 0;
    }
  }

  .salaryReports,
  .employeeReports,
  .managerReports {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;

    input {
      font-size: 15px;
      margin: 2px 0 20px 0;
    }

    &__upLabel,
    &__downLabel,
    &__betweenLabel {
      font-size: 15px;
    }
  }

  .employeeReports,
  .managerReports {
    &__byEmployee {
      font-size: 15px;

      &__List {
        margin: 0 auto;
        width: 250px;
      }

      &__submit {
        margin-top: 10px;
      }
    }

    &__byManager {
      font-size: 15px;

      &__List {
        margin: 0 auto;
        width: 250px;
      }
    }
  }
}
