* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.reports-page__header {
  font-size: 50px;
  margin: 50px;
  cursor: default;
}

.employeesSalaryReportSection {
  position: relative;
  width: 100%;
}
.employeesSalaryReportSection .salaryReportTable {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.employeesSalaryReportSection .salaryReportTable th {
  width: 100px;
}
.employeesSalaryReportSection .employeeDetails,
.employeesSalaryReportSection .managerDetails {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 95%;
}
.employeesSalaryReportSection .reportCard {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  border-bottom: 1px solid #67d7e3;
}
.employeesSalaryReportSection .reportCard__report-details {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.employeesSalaryReportSection .reportCard__report-details__name, .employeesSalaryReportSection .reportCard__report-details__birthday, .employeesSalaryReportSection .reportCard__report-details__email, .employeesSalaryReportSection .reportCard__report-details__phone, .employeesSalaryReportSection .reportCard__report-details__salary, .employeesSalaryReportSection .reportCard__report-details__role {
  text-align: center;
  width: 100%;
  padding: 5px;
  letter-spacing: 0.5px;
  overflow: scroll;
}
.employeesSalaryReportSection .reportCard__report-details__name::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__birthday::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__email::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__phone::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__salary::-webkit-scrollbar, .employeesSalaryReportSection .reportCard__report-details__role::-webkit-scrollbar {
  display: none;
}

.attendanceReport {
  position: relative;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #67d7e3;
}
.attendanceReport th {
  width: 250px;
  text-align: center;
}

.employeeAttendance {
  margin-bottom: 50px;
}

.reportsPageDates {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.reportsPageDates__details {
  position: relative;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #67d7e3;
}
.reportsPageDates__details__date, .reportsPageDates__details__clock {
  width: 250px;
  text-align: center;
}

.reportButtons {
  position: absolute;
  top: 130px;
  right: 10px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.reportButtons__salary, .reportButtons__manager, .reportButtons__employee {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(64, 64, 64, 0.724) 0px 5px 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.reportButtons__salary:hover, .reportButtons__manager:hover, .reportButtons__employee:hover {
  background-color: #67d7e3;
  color: black;
  cursor: pointer;
}

.allReportOptions {
  position: relative;
  top: -20px;
  right: 10px;
  float: right;
  width: 95%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.allReportOptions .salaryReports,
.allReportOptions .employeeReports,
.allReportOptions .managerReports {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.allReportOptions .salaryReports input,
.allReportOptions .employeeReports input,
.allReportOptions .managerReports input {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, #67d7e3 0px 2px 4px -1px;
  padding: 5px;
  width: 150px;
}
.allReportOptions .salaryReports button,
.allReportOptions .employeeReports button,
.allReportOptions .managerReports button {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(64, 64, 64, 0.724) 0px 5px 15px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.employeeReports__byEmployee__List,
.managerReports__byEmployee__List {
  margin-top: 5px;
}
.employeeReports__byEmployee__submit,
.managerReports__byEmployee__submit {
  margin-top: 10px;
}
.employeeReports__byManager__List,
.managerReports__byManager__List {
  margin-top: 5px;
}
.employeeReports__byManager__submit,
.managerReports__byManager__submit {
  margin-top: 10px;
}/*# sourceMappingURL=reports.css.map */