@import "../../styles/variety";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

// Employees page:
// Buttons -
.addButtons {
  position: relative;
  width: 100%;

  &__open-add-btn {
    position: absolute;
    top: 70px;
    right: 35px;
    z-index: 900;
    background-color: black;
    color: white;
    padding: 5px;
    padding-bottom: 0;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(64, 64, 64, 0.724) 0px 5px 15px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      @include buttonHover;
    }
  }

  &__add-buttons-container {
    display: none;
    position: absolute;
    top: 90px;
    right: 80px;
    z-index: 900;
  }

  &__add-employees-btn,
  &__add-managers-btn {
    @include buttonDesign;
    width: 170px;
    z-index: 900;
  }

  &__add-employees-btn:hover,
  &__add-managers-btn:hover {
    @include buttonHover;
  }
}

// Page
.employees-page {
  position: relative;

  &__employees-section,
  &__managers-section {
    position: relative;
    width: 100%;
    height: 600px;

    &__employees-header,
    &__managers-header {
      @include headerCenter;
    }

    &__employees-chart,
    &__managers-chart {
      width: 95%;
      position: relative;
      margin: 0 auto;

      th {
        width: 100px;
      }
    }

    &__get-all-employees,
    &__get-all-managers {
      position: relative;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 50px;
      width: 95%;
      height: 50%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(202, 202, 202);
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: $mainBlue;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgb(7, 196, 196);
      }
    }
  }

  // Cards -
  &__employeeCard,
  &__managerCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $mainBlue;

    .employee-details,
    .manager-details {
      display: flex;
      justify-content: space-evenly;
      padding: 10px 0;

      .delete-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 100%;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
          color: red;
          transform: scale(110%);
        }
      }

      .employee-name,
      .employee-birthday,
      .employee-email,
      .employee-phone,
      .employee-role,
      .manager-name,
      .manager-birthday,
      .manager-email,
      .manager-phone,
      .manager-role {
        text-align: center;
        width: 100%;
        padding: 5px;
        letter-spacing: 0.5px;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  // Add new -
  &__add-new-employees,
  &__add-new-managers {
    @include flexibleCenter(fixed, 50%, 50%, -50%, -50%);
    display: flex;

    fieldset {
      width: 400px;
      background-color: $mainBlue;
      text-align: center;
      @include boxShadow;

      legend {
        text-align: center;
        font-size: 30px;
      }

      input,
      select {
        width: 60%;
        margin: 10px auto;
        text-align: center;
        @include inputShadowBlue;
      }

      button {
        display: block;
        margin: 20px auto 20px;
        @include buttonDesign;

        &:hover {
          @include buttonHover;
        }
      }
    }
  }
}

// Media query -
@media screen and (max-width: 768px) {
  .addButtons {
    &__open-add-btn {
      top: 20px;
      right: 20px;
    }

    &__add-buttons-container {
      top: 40px;
      right: 60px;
    }
  }

  // Page
  .employees-page {
    &__employees-section,
    &__managers-section {
      height: 500px;
      padding-bottom: 50px;

      &__employees-header,
      &__managers-header {
        @include responsiveHeader;
        margin-top: 50px;
      }

      &__employees-chart,
      &__managers-chart {
        display: none;
      }

      &__get-all-employees,
      &__get-all-managers {
        margin-top: 50px;
        height: 65%;
        overflow: scroll;

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px rgb(202, 202, 202);
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: $mainBlue;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: rgb(7, 196, 196);
        }
      }
    }

    // Cards -
    &__employeeCard,
    &__managerCard {
      width: 1000px;
    }

    // Add new -
    &__add-new-employees,
    &__add-new-managers {
      @include flexibleCenter(absolute, 25%, 50%, -50%, -25%);
      width: 95%;

      fieldset {
        width: 100%;
      }
    }
  }
}
